body
{
	background-image: url("images/2018/1.jpg");
	background-size: 100%;
	background-attachment: fixed;
}

#menu
{
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-variant: small-caps;
}

#menu ul
{
	list-style-type: none;
	margin-top: 10px;
	padding: 0;
	overflow: hidden;
	background-color: rgba(242, 242, 242, 0.6);
}

#menu ul li
{
	float: left;
}

#menu ul li a
{
	display: flex;
	color: black;  
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menu a:link, a:visited 
{
	text-decoration: none;
	color: black;
}

#menu a:hover 
{
	background-color: rgba(226,209,255, 0.6);
}

h1
{
	text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 100px;
	text-shadow: 0px 0px 5px #F2F2F2;
}

h2
{
	text-align: center;
	font-family: Helvetica;
	font-size: 30px;
	background-color: rgba(242, 242, 242, 0.6);
}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p
{
	text-align: left;
	font-family: Helvetica;
	background-color: rgba(242, 242, 242, 0.6);
	padding-left: 150px;
	padding-right: 150px;
}

p a:link, a:visited
{
	color: black;
}











